[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:tomasbarboza/client-gateway.git
[submodule "ms-orders"]
	path = ms-orders
	url = git@github.com:tomasbarboza/ms-orders.git
[submodule "ms-products"]
	path = ms-products
	url = git@github.com:tomasbarboza/ms-products.git
[submodule "ms-payments"]
	path = ms-payments
	url = git@github.com:tomasbarboza/ms-payment.git
[submodule "ms-auth"]
	path = ms-auth
	url = https://github.com/tomasbarboza/ms-auth.git
